# --- Python & Backend ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
.env

# --- Frontend ---
node_modules/
build/
dist/
.DS_Store

# --- Database & Docker ---
tradingbot_postgres_data/
*.sqlite3
*.log

# --- IDEs & Misc ---
.vscode/
.idea/
*.exe

# --- Ignore Large Installer Files ---
project softwares/
uploads/